<section id="one">
    <div class="image main" data-position="center">
        <img src="images/banner.jpg" alt="" />
    </div>
    <div class="container">
        <header class="major">
            <h2>{{site.author}}</h2>
            <p>About me</p>
        </header>
        <p>Hello and welcome to my personal website.  
            I'm Zheng Yi Hu, a King's College London computer science/robotics graduate student passionated about Game development and Music.</p>
            
        <p> In here I will occasionaly publish some of the Unity tools I developed and updates on most of the project I will be working on.</p>
    </div>
</section>