<section id="About">
   
    <div class="container">
        <header class="major">
            <h2>{{site.author}}</h2>
            <p>About me</p>
        </header>
        <p>Hello and welcome to my personal website.  
            I'm Zheng Yi Hu, a <b>King's College London</b> computer science/robotics graduate student passionated about <b>Game development</b> and <b>Music</b>.</p>
            
        <p> In here I will occasionaly publish some of the Unity tools I developed and updates on most of the project I will be working on.</p>
    </div>
</section>