<section id="CV">
    <div class="container">
        <h3>CV</h3>
        <p>Full document available: <a href="./files/Resume_ZhengYiHu.pdf"><b>HERE</b></a></p>
        <ul class="feature-icons">
            <li class="icon brands fa-unity">Experience in Unity and C# programming</li>
            <li class="icon brands fa-java">Experience in Java programming</li>
            <li class="icon solid fa-expand-alt">Experience in vector math for robotics kinematics</li>
            <li class="icon brands fa-github">Familiar with version control services like Github</li>
            <li class="icon solid fa-cube">Basic modelling skills in Blender</li>
            <li class="icon solid fa-language">English - Italian - Chinese</li>
        </ul>
    </div>
</section>