<section id="Projects">
    <div class="container">
        <h3>Projects</h3>
        <p>A few of the recent projects I have been working on:</p>
        <div class="features">
            <ul class="listing">

                {% for project in site.projects %}
                    <article>
                        <a href= "{{ project.url | relative_url}}" class="image"><img src= "{{ project.thumbnail | relative_url}}" alt="" /></a>
                        <div class="inner">
                            <h4>{{ project.title }}</h4>
                            <p>{{project.subtitle}}</p>
                        </div>
                    </article>

                {% endfor %}
            </ul>
        </div>
    </div>
</section>