<section id="three">
    <div class="container">
        <h3>Projects</h3>
        <p>A few of the recent projects I have been working on:</p>
        <div class="features">
            <article>
                <a href="tetrisNeat" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <div class="inner">
                    <h4>Neuro-Evolution of Augmenting Topologies</h4>
                    <p>a Tetris AI implementation using <a href="https://en.wikipedia.org/wiki/Neuroevolution_of_augmenting_topologies">NEAT</a> for my final year's thesis. </p>
                </div>
            </article>
            <article>
                <a href="website" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <div class="inner">
                    <h4>This Website!</h4>
                    <p>A personal website to share stuff with the world.</p>
                </div>
            </article>
            <article>
                <a href="game" class="image"><img src="images/pic03.jpg" alt="" /></a>
                <div class="inner">
                    <h4>Untitled game project</h4>
                    <p> A small game in Unity3D I'm currently working on.</p>
                </div>
            </article>
        </div>
    </div>
</section>